@import url('https://fonts.googleapis.com/css2?family=Playwrite+SK:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #081b29;
    color: #ededed;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header.sticky {
    background: #081b29;
}

.logo {
    font-family: 'Ubuntu';
    font-style: italic;
    font-size: 24px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    position: relative;
    width: 180px;
}

.logo::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0s;
}

.logo::after {
    content: "Матвей Сердюков";
    font-family: 'Ubuntu';  /* Ensure font family is applied */
    font-style: italic;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #ededed;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    visibility: hidden;
    white-space: nowrap;
}

.logo:hover::after {
    opacity: 1;
    visibility: visible;
}

.logo span {
    transition: opacity 0.3s ease;
    display: inline-block;
    font-family: 'Ubuntu', cursive;  /* Ensure font family is applied */
}

.logo:hover span {
    opacity: 0;
}

.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a:active {
    color: #00abf0;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    position:relative;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.home-content h1::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.3s;
}

.home-content h3 {
    position: relative;
    font-size: 24px;
    font-weight: 700;
    color: #00abf0;
    margin-bottom: 20px;
}

.home-content h3::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 0.6s;
}

.home-content p {
    position: relative;
    font-size: 16px;
    margin-top: 40px 0 40px;
    margin-bottom: 35px;
}

.home-content p::before {
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: #081b29;
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 40px;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
}

.btn-box a:hover {
    color: #00abf0
}

.btn-box a:nth-child(2) {
    background: transparent;
    color:#00abf0;
}

.btn-box a:nth-child(2):hover {
    color: #081b29;
}

.btn-box a:nth-child(2)::before {
    background: #00abf0;
}

.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.3s;
}

.btn-box a:hover::before {
    width: 100%;
}

footer {
    text-align: center;
}

@keyframes showRight {
    100% {
        width: 0;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row; /* Ensure the layout is horizontal */
    gap: 2rem;
    padding-bottom: 6rem;
}

.about-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    margin-right: 2rem; /* Add margin to move it to the left */
}

.about-img img {
    width: 100%;
    border-radius: 50%;
    border: 0.2rem solid rgb(122, 110, 88);
}

.about-content {
    max-width: 50%; /* Ensure the content doesn't take up too much space */
    margin-left: 2rem; /* Add margin to align it properly */
}

.about-content h3 {
    font-size: 2.6rem;
    text-align: left;
    margin-left: 0; /* Remove extra margin */
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: left;
    margin-left: 0; /* Ensure paragraphs are aligned with the heading */
    margin-right: 10%;
}

.projects {
    display: flex;
    flex-direction: column; /* Ensure the layout is vertical */
    gap: 4rem; /* Add space between project categories */
    padding-bottom: 6rem;
    align-items: center;
}

.project-category {
    display: flex;
    justify-content: space-between; /* Space between content and image */
    align-items: center;
    flex-direction: row; /* Ensure the layout is horizontal */
    gap: 2rem;
    width: 80%; /* Limit the width of each project category */
}

.project-category .projects-content {
    max-width: 50%; /* Ensure the content doesn't take up too much space */
    flex: 1; /* Flex-grow for content to take up remaining space */
}

.project-category .projects-img {
    position: relative;
    width: 25rem; /* Set a fixed width */
    flex-shrink: 0; /* Prevent the image from shrinking */
}

.project-category .projects-img img {
    width: 100%; /* Scale the image to fit the container */
    height: auto; /* Maintain aspect ratio */
    border: 0.2rem solid rgb(48, 35, 93);
}

.project-category .projects-content h3 {
    font-size: 2.6rem;
    text-align: left;
    margin-left: 0; /* Remove extra margin */
}

.project-category .projects-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    text-align: left;
    margin-left: 0; /* Ensure paragraphs are aligned with the heading */
    margin-right: 10%;
}

.larger-image .projects-img {
    width: 35rem; /* Increase width for larger images */
}

.larger-image .projects-img img {
    width: 100%; /* Ensure the image scales within the new width */
    height: auto; /* Maintain aspect ratio */
}

.photography {
    padding: 2rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photography .heading {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}

.gallery {
    position: relative;
    width: 300px;
    height: 200px;
    transform-style: preserve-3d;
    animation: rotate 35s linear infinite;
    margin-bottom: 4rem;
}

@keyframes rotate {
    from {
        transform: perspective(1200px) rotateY(0deg);
    }
    to {
        transform: perspective(1200px) rotateY(360deg);
    }
}

.gallery span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
}

.gallery span img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contact {
    min-height: auto;
    padding-bottom: 7rem;
}

.contact h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2rem; /* Adjust as needed for spacing */
}


.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box .input-field {
    position: negative;
    width: 49%;
    margin: 0.8rem 0;
}

.contact form .input-box .input-field input,
.contact form .textarea-field textarea {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color:#00abf0;
    background:transparent;
    border-radius: 0.6rem;
    border: 0.2rem solid #00abf0;
}

.contact form .input-box .input-field input::placeholder,
.contact form .textarea-field textarea::placeholder {
    color: #00abf0
}

.contact form .textarea-field {
    position: relative;
    margin: 0.8rem 0  2.7rem;
    display:flex;
}

.contact form .textarea-field textarea {
    resize: none;
}

.contact-btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 80px;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.3s;
    cursor: pointer; /* Ensure it's clear that the element is clickable */
}

.contact-btn:hover {
    color: #00abf0;
}

.contact-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: 0.3s;
}

.contact-btn:hover::before {
    width: 100%;
}
