body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE2D1; /* Light Peach */
    color: #5E4C5A; /* Dark Purple */
}

header {
    text-align: center;
    padding: 20px;
    background-color: #E1F0C4; /* Light Green */
    border-bottom: 2px solid #55917F; /* Teal */
    position: relative;
    overflow: hidden;
}

header .portrait {
    width: 150px;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.sidebar {
    flex: 1 1 250px;
    background-color: #55917F; /* Teal */
    padding: 20px;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    color: #FFFFFF; /* White */
    text-decoration: none;
    font-weight: bold;
}

main {
    flex: 3 1 700px;
    padding: 20px;
    margin-left: 250px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    border-bottom: 2px solid #6BAB90; /* Medium Green */
    padding-bottom: 10px;
    color: #55917F; /* Teal */
}

.project {
    background-color: #FFFFFF; /* White */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #6BAB90; /* Medium Green */
    border-radius: 5px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.gallery img {
    width: 200px;
    margin: 5px;
    border: 2px solid #6BAB90; /* Medium Green */
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #6BAB90; /* Medium Green */
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    padding: 10px;
    background-color: #6BAB90; /* Medium Green */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #55917F; /* Teal */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #55917F; /* Teal */
    color: #FFFFFF; /* White */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        flex: 1 1 auto;
        position: relative;
        height: auto;
    }

    main {
        flex: 1 1 auto;
        margin-left: 0;
    }
}
